*{
    color: blue;
}
  
.url{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    
    padding: 35px 45px;
    color: lightgreen;
    text-align: center;
    border-width: 2px;
    border-color:rgb(2, 41, 2) ;
    border-style: solid;
    /*border-style: double;
    border-style: groove;
    border-style: inset; */
    border-radius: 50px;
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(rgb(47, 136, 47), rgb(64, 160, 64));
    font-family: 'Roboto', sans-serif;
}




a{
    text-decoration: none;
    text-align: center;
}

i{
    text-align: center;
    color:greenyellow;
}