:root{
    --bg-color:#359756;
    --sale-color:#F1C50E;
    --bg-primary:#fff;

}



.carditem{
    width: 270px;px ;
    height: 421px;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 29px;
}

.carditem:nth-child(1){
    background-color: var(--bg-color);
}

.card{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.item-name{
    display: flex;
}

.item-special{
    width: 100%;
    display: flex;
    justify-content: space-between;
}













































































































